a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
body {
  font-family: $secondary-font;
  line-height: 1;
  color: $text-color;
  font-size: 1.4rem;
}
input,
button,
textarea {
  outline: none;
  font-family: $secondary-font;
  line-height: 1;
  -webkit-appearance: none;
  font-size: 2rem;
  font-weight: 300;
}
button {
  cursor: pointer;
}

.px-10 {
  padding: 10rem 0;
}
@include maxWidth(767px) {
  .px-10 {
    padding: 5rem 0;
  }
}
