@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

// absolute center
@mixin absoluteCenter($direction: "left", $position: absolute) {
  position: $position;
  // @if $variable == {}
  @if $direction == "left" {
    left: 50%;
    transform: translateX(-50%);
  }
  @if $direction == "top" {
    top: 50%;
    transform: translateY(-50%);
  }
  @if $direction == "both" {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

// background color
@mixin bg($color: #f00) {
  background-color: $color;
}

// absoluteFull
@mixin absoluteFull() {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// mixin maxWidth
@mixin maxWidth($breakpoint) {
  @media screen and (max-width: $breakpoint) {
    @content;
  }
}

// mixin minWidth
@mixin minWidth($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

// flexBox
@mixin flexBox(
  $align-items: stretch,
  $justify-content: flex-start,
  $flex-direction: row,
  $flex: flex,
  $wrap: nowrap
) {
  align-items: $align-items;
  justify-content: $justify-content;
  flex-direction: $flex-direction;
  display: $flex;
  flex-wrap: $wrap;
}

// hideScroll
@mixin hideScroll() {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

// text clamp
@mixin textClamp($row: 1, $size: 100%) {
  display: -webkit-box;
  -webkit-line-clamp: $row;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: $size;
  max-width: $size;
  white-space: pre-wrap;
  word-break: break-word;
}

@mixin buttonMain() {
  padding: 1rem 5rem;
  color: $title-color-dark;
  font-weight: 300;
  font-size: 2rem;
  border: 2px solid $title-color-dark;
  border-radius: 1rem;
  background: transparent;
  transition: all 0.2s;
  &:hover {
    transform: translateY(-3px);
  }
}
