$primary-color: #facb36;
$secondary-color: #101311;

$third-color: #95e1d3;
$title-color-dark: #faca36;
$title-color-light: #dd991d;
$title-color-sunshine: #e3b359;
$title-color-pale: #ffeeb7;

$text-color: #444645;
$border-color: #e3b938;
$red-color: #d12509;
$border-color-dark: #dbb230;
$border-color-gray: #675956;
$primary-font: "Economica", sans-serif;
$secondary-font: "Quicksand", sans-serif;
$wrapper: 1920px;
$container: 1080px;
