section.arabica.px-10
	.container
		+blockHead("arabica ", "coffee beans", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut quibusdam officiis quas qui excepturi nesciunt inventore eveniet, accusantium tempore impedit.")
		button.arabica-button Know More
