section.contact.px-10 
	.container
		h3.contact-title Contact us
		.contact-content 
			.contact-info 
				.contact-item 
					i.far.fa-map-marker-alt
					span 198 West 21th Street, Suite 721 New York 
				.contact-item 
					i.fas.fa-phone
					a(href="tel:0123456789")  +(84)123456789
				.contact-item 
					i.far.fa-envelope
					a(href="mailto:cafeinate@cofeee.org") cafeinate@cofeee.org
				.contact-item 
					i.fas.fa-globe
					a(href="mailto:cafeinate@cofeee.org") cafeinate@cofeee.org
			.contact-form
				.contact-form-wrapper 
					.contact-input-wrapper 
						input(type="text", placeholder="Name") 
						input(type="email", placeholder="Email")
					.contact-dropdown#lightdropdown
						.contact-dropdown-select
							span.contact-dropdown-selected Cooperation
							i.fa.fa-angle-down.contact-dropdown-caret
						ul.contact-dropdown-list
							li.contact-dropdown-item(data-value="Cooperation") Cooperation
							li.contact-dropdown-item(data-value="Option A") Option A
							li.contact-dropdown-item(data-value="Option B") Option B
							li.contact-dropdown-item(data-value="Option C") Option C
					textarea(name="message", placeholder="Message").contact-form-textarea
					button.contact-form-submit Send