footer.footer
	.footer-wrapper.px-10
		.container
			a.footer-logo(href="#")
					img(src="./images/logo.png", alt="")
			p.footer-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam incidunt molestiae nisi repellat nulla qui ipsum asperiores necessitatibus recusandae
			form.footer-form 
				label(for="email").footer-form-title Subscribe |
					input(type="email", placeholder="Your email")#email
					button
						i.fas.fa-long-arrow-alt-right
			i.fas.fa-chevron-up.footer-back-top
		
	.footer-copyright 
		a(href="/") Copyright ©  2010-2021 YOUR BRAND COFFEE
	
