header.header
	.header-top
		.container
			.header-top-content
				a.header-logo(href="/")
					img(src="./images/logo.png", alt="")
				i.fa.fa-bars.header-icon-toggle
				ul.header-menu
					i.fas.fa-times.header-icon-close
					li.header-menu-item
						a.header-menu-link(href="/") Home
					li.header-menu-item
						a.header-menu-link(href="/") Menu
					li.header-menu-item
						a.header-menu-link(href="/") About Us
					li.header-menu-item
						a.header-menu-link(href="/") Shop
					li.header-menu-item
						a.header-menu-link(href="/") Contact
					li.header-menu-item
						a.header-menu-icon
							i.fa.fa-shopping-cart
					li.header-menu-item
						a.header-menu-icon.header-menu-icon-search
							i.fa.fa-search
		.header-slide
			.header-slide-item
				.container
					.header-slide-wrapper
						.header-slide-content
							.header-slide-title Time for a 
								span coffee
							.header-slide-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit dolores at dolor ullam, eos id minus unde a voluptates repellat.
							button.header-slide-btn Oder Now
			.header-slide-item
				.container
					.header-slide-wrapper
						.header-slide-content
							.header-slide-title Time for a 
								span coffee
							.header-slide-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit dolores at dolor ullam, eos id minus unde a voluptates repellat.
							button.header-slide-btn Oder Now

			
			