section.menu
	.menu-list.px-10
			.menu-head 
				h2.menu-title menu
				.menu-tab-list
					button.menu-tab-item(data-tab="1") Coffee Beans
					button.menu-tab-item.active(data-tab="2") Drinks
					button.menu-tab-item(data-tab="3") Breakfast
			.menu-list
				.menu-content-list(data-tab="1")
					.menu-item
						.menu-item-head 
							.menu-item-title 1/ Cappuchino 1
							.menu-item-title $5.5 
						.menu-item-content 
							.menu-item-desc Lorem ipsum dolor sit amet, consec adipisicing
							.menu-item-like
								i.fa.fa-heart
								span 60
					.menu-item
						.menu-item-head 
							.menu-item-title 4/ Mocha  
							.menu-item-title $5.0
						.menu-item-content 
							.menu-item-desc Lorem ipsum dolor sit amet, consecte adipisicing elit
							.menu-item-like
								i.fa.fa-heart
								span 45
					.menu-item
						.menu-item-head 
							.menu-item-title 2/ Fappuchino  
							.menu-item-title $6.0
						.menu-item-content 
							.menu-item-desc Lorem ipsum dolor sit amet, consecte adipisicing elit
							.menu-item-like
								i.fa.fa-heart
								span 80
					.menu-item
						.menu-item-head 
							.menu-item-title 5/ Cafe Latte  
							.menu-item-title $5.5
						.menu-item-content 
							.menu-item-desc Lorem ipsum dolor sit amet, consecte adipisicing elit
							.menu-item-like
								i.fa.fa-heart
								span 32
					.menu-item
						.menu-item-head 
							.menu-item-title 3/ Expresso  
							.menu-item-title $4.5
						.menu-item-content 
							.menu-item-desc Lorem ipsum dolor sit amet, consecte adipisicing elit
							.menu-item-like
								i.fa.fa-heart
								span 55
					.menu-item
						.menu-item-head 
							.menu-item-title 6/ Machiato  
							.menu-item-title $6.5
						.menu-item-content 
							.menu-item-desc Lorem ipsum dolor sit amet, consecte adipisicing elit
							.menu-item-like
								i.fa.fa-heart
								span 78
					a.menu-view-all View all 
						i.fas.fa-chevron-right
				.menu-content-list(data-tab="2").active
					.menu-item
						.menu-item-head 
							.menu-item-title 1/ Cappuchino 2
							.menu-item-title $5.5 
						.menu-item-content 
							.menu-item-desc Lorem ipsum dolor sit amet, consec adipisicing
							.menu-item-like
								i.fa.fa-heart
								span 60
					.menu-item
						.menu-item-head 
							.menu-item-title 4/ Mocha  
							.menu-item-title $5.0
						.menu-item-content 
							.menu-item-desc Lorem ipsum dolor sit amet, consecte adipisicing elit
							.menu-item-like
								i.fa.fa-heart
								span 45
					.menu-item
						.menu-item-head 
							.menu-item-title 2/ Fappuchino  
							.menu-item-title $6.0
						.menu-item-content 
							.menu-item-desc Lorem ipsum dolor sit amet, consecte adipisicing elit
							.menu-item-like
								i.fa.fa-heart
								span 80
					.menu-item
						.menu-item-head 
							.menu-item-title 5/ Cafe Latte  
							.menu-item-title $5.5
						.menu-item-content 
							.menu-item-desc Lorem ipsum dolor sit amet, consecte adipisicing elit
							.menu-item-like
								i.fa.fa-heart
								span 32
					.menu-item
						.menu-item-head 
							.menu-item-title 3/ Expresso  
							.menu-item-title $4.5
						.menu-item-content 
							.menu-item-desc Lorem ipsum dolor sit amet, consecte adipisicing elit
							.menu-item-like
								i.fa.fa-heart
								span 55
					.menu-item
						.menu-item-head 
							.menu-item-title 6/ Machiato  
							.menu-item-title $6.5
						.menu-item-content 
							.menu-item-desc Lorem ipsum dolor sit amet, consecte adipisicing elit
							.menu-item-like
								i.fa.fa-heart
								span 78
					a.menu-view-all View all 
						i.fas.fa-chevron-right
				.menu-content-list(data-tab="3")
					.menu-item
						.menu-item-head 
							.menu-item-title 1/ Cappuchino  3
							.menu-item-title $5.5 
						.menu-item-content 
							.menu-item-desc Lorem ipsum dolor sit amet, consec adipisicing
							.menu-item-like
								i.fa.fa-heart
								span 60
					.menu-item
						.menu-item-head 
							.menu-item-title 4/ Mocha  
							.menu-item-title $5.0
						.menu-item-content 
							.menu-item-desc Lorem ipsum dolor sit amet, consecte adipisicing elit
							.menu-item-like
								i.fa.fa-heart
								span 45
					.menu-item
						.menu-item-head 
							.menu-item-title 2/ Fappuchino  
							.menu-item-title $6.0
						.menu-item-content 
							.menu-item-desc Lorem ipsum dolor sit amet, consecte adipisicing elit
							.menu-item-like
								i.fa.fa-heart
								span 80
					.menu-item
						.menu-item-head 
							.menu-item-title 5/ Cafe Latte  
							.menu-item-title $5.5
						.menu-item-content 
							.menu-item-desc Lorem ipsum dolor sit amet, consecte adipisicing elit
							.menu-item-like
								i.fa.fa-heart
								span 32
					.menu-item
						.menu-item-head 
							.menu-item-title 3/ Expresso  
							.menu-item-title $4.5
						.menu-item-content 
							.menu-item-desc Lorem ipsum dolor sit amet, consecte adipisicing elit
							.menu-item-like
								i.fa.fa-heart
								span 55
					.menu-item
						.menu-item-head 
							.menu-item-title 6/ Machiato  
							.menu-item-title $6.5
						.menu-item-content 
							.menu-item-desc Lorem ipsum dolor sit amet, consecte adipisicing elit
							.menu-item-like
								i.fa.fa-heart
								span 78
					a.menu-view-all View all 
						i.fas.fa-chevron-right
	.menu-right

