section.service.px-10
	.container
		+blockHead("Our ", "Services", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut quibusdam officiis quas qui excepturi nesciunt inventore eveniet, accusantium tempore impedit.")
		.service-list 
			.service-item
				.service-img
					img(src="https://media.istockphoto.com/photos/coffee-bean-picture-id466732980?k=6&m=466732980&s=612x612&w=0&h=7NyhAw5KS3EJECcJPOHgSqZffX2RFCAU_92ydPr8iZU=", alt="")
				p.service-name bean
				p.service-desc Lorem ipsum dolor sit amet consectetur adipisicing
			.service-item
				.service-img
					img(src="https://ca-times.brightspotcdn.com/dims4/default/43093d2/2147483647/strip/true/crop/600x338+0+31/resize/1200x675!/quality/90/?url=https%3A%2F%2Fcalifornia-times-brightspot.s3.amazonaws.com%2F35%2Ff8%2F8f8900d9962d75d9cbf1d324d5fe%2Fla-xpm-photo-2012-nov-01-la-fi-mo-debenhams-coffee-confusing-20121101", alt="")
				p.service-name coffee
				p.service-desc Lorem ipsum dolor sit amet consectetur adipisicing
			.service-item
				.service-img
					img(src="https://wpcdn.us-midwest-1.vip.tn-cloud.net/www.kansascitymag.com/content/uploads/2020/11/Pilsen_Breakfast_cover7947_WEB-e1606238474528.jpg", alt="")
				p.service-name breakfast
				p.service-desc Lorem ipsum dolor sit amet consectetur adipisicing
