section.special.px-10 
	.container
		+blockHead("Our ", "special things", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut quibusdam officiis quas qui excepturi nesciunt inventore eveniet, accusantium tempore impedit.")
		.special-list
			.special-item.order-1
				img(src="https://media-cldnry.s-nbcnews.com/image/upload/t_fit-760w,f_auto,q_auto:best/newscms/2019_33/2203981/171026-better-coffee-boost-se-329p.jpg", alt="")
			.special-item.special-item-text.order-2
				h3.special-item-title good coffee beans 
				p.special-item-desc Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam impedit quia, asperiores vitae aspernatur porro vel nihil dicta distinctio a voluptatum quod consectetur iure magni saep
			.special-item.special-item-text.order-4
				h3.special-item-title good coffee recipe 
				p.special-item-desc Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam impedit quia, asperiores vitae aspernatur porro vel nihil dicta distinctio a voluptatum quod consectetur iure magni saep
			.special-item.order-3
				img(src="https://cdn.pixabay.com/photo/2017/01/12/14/22/coffee-1974841__340.jpg", alt="")
			.special-item.order-5
				img(src="https://cdn.pixabay.com/photo/2014/12/11/02/56/coffee-563797__340.jpg", alt="")
			.special-item.special-item-text.order-6
				h3.special-item-title good ingredients 
				p.special-item-desc Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam impedit quia, asperiores vitae aspernatur porro vel nihil dicta distinctio a voluptatum quod consectetur iure magni saep
