.arabica {
  background: linear-gradient(
      90deg,
      rgba(50, 55, 53, 0.9) 0% rgba(151, 143, 139, 0.1) 55%,
      rgba(230, 218, 212, 0) 100%
    ),
    url("https://cdn.pixabay.com/photo/2016/04/12/11/19/coffee-1324126_960_720.jpg")
      no-repeat center / cover;
  .block-head {
    margin-right: auto;
    margin-left: 0;
    text-align: left;
    &-title {
      color: #fff;
    }
    &-caption {
      padding-bottom: 3rem;
      color: #d0c0ac;
    }
  }
  &-button {
    @include buttonMain();
  }
}
