.contact {
  &-title {
    font-size: 5rem;
    color: #0a0a08;
    text-transform: uppercase;
    text-align: center;
    font-family: $primary-font;
    font-weight: 400;
    padding-bottom: 5rem;
  }
  &-content {
    @include flexBox(stretch, space-between);
  }
  &-info,
  &-form {
    width: calc(50% - 4rem);
  }
  &-item {
    padding-bottom: 2rem;
    i {
      color: $border-color;
      width: 3.8rem;
      height: 3.8rem;
      border: 1px solid $border-color;
      border-radius: 50%;
      text-align: center;
      line-height: 3.8rem;
      &::before {
        font-size: 2rem;
      }
    }
    span,
    a {
      color: #373737;
      font-size: 2rem;
      padding-left: 1.5rem;
    }
  }
  &-input-wrapper {
    @include flexBox(stretch, space-between);
    padding-bottom: 2rem;
    input {
      width: calc(50% - 1rem);
      height: 4rem;
      padding: 0 1.5rem;
      background-color: #e8e8e8;
      border: none;
      cursor: pointer;
      border: 1px solid transparent;
      transition: all 0.25s;
      color: #bebebe;
      &:focus {
        border-color: $primary-color;
      }
    }
  }
  &-form-textarea {
    background-color: #e8e8e8;
    margin-bottom: 2rem;
    border: none;
    width: 100%;
    padding: 1.5rem;
    transition: all 0.25s;
    cursor: pointer;
    border: 1px solid transparent;
    min-height: 15.4rem;
    &:focus {
      border-color: $primary-color;
    }
  }
  &-form-submit {
    text-align: center;
    display: block;
    background: $title-color-dark;
    width: 100%;
    border: none;
    color: #211212;
    font-size: 2rem;
    line-height: 4rem;
    transition: all 0.25s;
    &:hover {
      background-color: #eac03e;
    }
  }
  &-dropdown {
    width: 100%;
    position: relative;
    margin-bottom: 2rem;
  }
  &-dropdown-caret {
    color: $text-color;
  }
  &-dropdown-select {
    background-color: #e8e8e8;
    height: 4rem;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    color: #bebebe;
    font-size: 2rem;
  }
  &-dropdown-select * {
    pointer-events: none;
  }
  &-dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: 1rem;
    padding: 1.5rem 0 1.5rem;
    background-color: #e8e8e8;
    box-shadow: var(--shadow);
    display: none;
  }
  &-dropdown-list:before {
    content: "";
    height: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    transform: translateY(-100%);
  }
  &-dropdown-list.show {
    display: block;
  }
  &-dropdown-item {
    padding: 1.5rem;
    padding-left: 3rem;
    transition: all 0.25s ease;
    cursor: pointer;
    margin-bottom: 2px;
    font-size: 1.6rem;
    color: #bebebe;
  }
  &-dropdown-item:hover {
    background-color: #fff;
  }

  @include maxWidth(767px) {
    &-title {
      font-size: 4rem;
      padding-bottom: 3rem;
    }
    &-content {
      display: block;
    }
    &-info,
    &-form {
      width: 100%;
    }
    &-item {
      padding-bottom: 1.4rem;
      i {
        width: 3rem;
        height: 3rem;
        line-height: 3rem;
        &::before {
          font-size: 1.7rem;
        }
      }
      span {
        font-size: 1.8rem;
      }
    }
  }
  @include maxWidth(480px) {
    &-item {
      i {
        width: 2.5rem;
        height: 2.5rem;
        line-height: 2.5rem;
        &::before {
          font-size: 1.6rem;
        }
      }
      span {
        font-size: 1.6rem;
        padding-left: 1rem;
      }
    }
    @include maxWidth(375px) {
      &-item {
        span {
          font-size: 1.5rem;
          padding-left: 1rem;
        }
      }
    }
  }
}

:root {
  --primary: #08aeea;
  --secondary: #13d2b8;
  --purple: #bd93f9;
  --pink: #ff6bcb;
  --blue: #8be9fd;
  --gray: #333;
  --font: "Poppins", sans-serif;
  --gradient: linear-gradient(40deg, #ff6ec4, #7873f5);
  --shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
}
// *,
// *:before,
// *:after {
//   box-sizing: border-box;
// }
// html {
//   font-size: 62.5%;
// }

// body {
//   font-family: var(--font);
//   font-size: 1.4rem;
//   overflow-x: hidden;
//   font-weight: 300;
// }
