.footer {
  &-wrapper {
    background-color: #272926;
    text-align: center;
  }
  .container {
    position: relative;
  }
  &-desc {
    color: #fff;
    font-size: 2rem;
    max-width: 82rem;
    word-wrap: break-word;
    margin: 0 auto;
    padding: 3.5rem 0 3rem;
    line-height: 2.4rem;
  }
  &-form-title {
    position: relative;
    display: inline-block;
    background: #020202;
    font-size: 2rem;
    color: #fff;
    padding: 0.8rem 2rem 0.8rem;
    text-transform: uppercase;
    text-align: left;
    max-width: 57rem;
    input {
      background: #020202;
      border: none;
      font-size: 2rem;
      color: #fff;
      text-indent: 0.7rem;
      cursor: pointer;
      &::placeholder {
        color: #fff;
      }
    }
    button {
      background-color: transparent;
      border: none;
      position: absolute;
      right: 1.5rem;
      top: 50%;
      transform: translateY(-50%);

      i {
        color: #8e9198;
        padding-left: 0.5rem;
      }
    }
  }
  &-copyright {
    background-color: #fac036;
    line-height: 7rem;
    text-align: center;
    a {
      color: #fff;
      font-size: 1.4rem;
      font-weight: 500;
    }
  }
  &-logo {
    display: block;
    img {
      width: 11.2rem;
      height: 11.2rem;
      margin: 0 auto;
      border-radius: 100%;
      box-shadow: 0 0 0 2px #fff, 0 0 0 5px #000;
    }
  }
  &-back-top {
    position: fixed;
    z-index: 3;
    right: 10rem;
    bottom: 10rem;
    background: #2c2c2c;
    padding: 16px 17px;
    font-size: 22px;
    cursor: pointer;
    color: #c5c5c4;
    transition: all 0.25s;
    &:hover {
      background: #313131;
      color: #fff;
    }
  }
  @include maxWidth(767px) {
    &-form-title {
      font-size: 1.7rem;
      padding: 1rem 1.5rem 1rem;
      input {
        font-size: 1.7rem;
      }
    }
    &-desc {
      font-size: 1.8rem;
    }
    &-back-top {
      right: 4rem;
      bottom: 4rem;
    }
  }
  @include maxWidth(480px) {
    &-back-top {
      right: 2rem;
      bottom: 2rem;
      padding: 13px 14px;
      font-size: 19px;
    }
  }
  @include maxWidth(375px) {
    &-form-title {
      font-size: 1.5rem;
      padding: 1rem;
      input {
        font-size: 1.5rem;
      }
    }
    &-desc {
      font-size: 1.6rem;
    }
    &-back-top {
      right: 2rem;
      bottom: 2rem;
      padding: 13px 14px;
      font-size: 19px;
    }
  }
}
