.header {
  &-top {
    background-color: $secondary-color;
  }
  &-top-content {
    @include flexBox(stretch, space-between);
    position: relative;
  }
  &-logo {
    width: 16rem;
    height: 16rem;
    transform: translateY(15%);
    position: absolute;
    z-index: 2;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      box-shadow: 0 0 0 5px #fff, 0 0 0 14px #000;
      border-radius: 100%;
    }
  }
  &-icon-close {
    display: none;
  }
  &-icon-toggle {
    display: none;
    color: #fff;
    font-size: 20px;
    padding-right: 25px;
    cursor: pointer;
  }
  &-menu {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-left: auto;
  }
  &-menu-link {
    color: #fff;
    font-size: 2rem;
    padding: 5rem 2rem;
    display: inline-block;
    font-weight: 300;
    transition: 0.2s all;
    &:hover {
      color: $primary-color;
    }
  }
  &-menu-icon {
    color: $primary-color;
    font-size: 2rem;
    padding-right: 1.5rem;
    display: inline-block;
    cursor: pointer;
  }
  &-menu-icon-search {
    color: #fff;
    padding-right: 0;
  }
  .slide {
  }
  &-slide-item {
    background: linear-gradient(
        90deg,
        rgba(230, 218, 212, 0.2329306722689075) 0%,
        rgba(151, 143, 139, 0.6923144257703081) 55%,
        rgba(69, 65, 63, 0.9556197478991597) 100%
      ),
      url("https://previews.123rf.com/images/karandaev/karandaev1905/karandaev190500490/123516351-yellow-coffee-cup-over-yellow-background-top-view-flat-lay-with-copy-space.jpg")
        no-repeat center / cover;
    height: 62rem;
  }
  &-slide-wrapper {
    display: flex;
    align-items: center;
    height: 62rem;
  }
  &-slide-content {
    width: 45%;
    margin-left: auto;
  }
  &-slide-title {
    font-size: 7rem;
    color: $title-color-dark;
    text-transform: uppercase;
    font-family: $primary-font;
    font-weight: 700;
    span {
      color: #fff;
    }
  }
  &-slide-desc {
    padding: 3rem 0 2rem;
    color: #fff;
    font-size: 2rem;
    line-height: 2.9rem;
  }
  &-slide-btn {
    @include buttonMain();
  }
  @include maxWidth(1023px) {
    &-menu-link {
      padding: 3.5rem 1.5rem;
    }
    &-logo {
      width: 12rem;
      height: 12rem;
      transform: translateY(25%);
      left: 25px;
    }
    &-menu-icon {
      padding-right: 2.5rem;
    }
    @include maxWidth(767px) {
      &-top-content {
        align-items: center;
      }
      &-logo {
        width: 8rem;
        height: 8rem;
        transform: translate(14px, 32%);
        position: static;
      }
      &-menu {
        display: block;
        position: fixed;
        z-index: 10;
        background: #000;
        right: 0;
        width: 30rem;
        padding: 2rem 2.5rem;
        height: 100vh;
        transform: translateX(112%);
        transition: all 0.25s ease-in;
      }
      &-menu.is-expand {
        transform: translateX(0);
      }
      &-menu-link {
        padding: 1.5rem 0 1.5rem;
      }
      &-menu-icon {
        padding: 1.5rem 0 1.5rem;
        display: block;
      }
      &-icon-close {
        display: block;
        position: absolute;
        top: 0;
        left: -36px;
        color: #fff;
        font-size: 20px;
        padding: 12px;
        background: #000;
        cursor: pointer;
      }
      &-icon-toggle {
        display: block;
      }
      &-slide-item,
      &-slide-wrapper {
        height: 40rem;
      }
      &-slide-title {
        font-size: 5rem;
      }
      &-slide-content {
        width: 100%;
      }
    }
    @include maxWidth(480px) {
      &-slide-title {
        font-size: 4.3rem;
      }
    }
  }
}
