.menu {
  @include flexBox();
  &-list {
    width: 70%;
    background-color: $secondary-color;
    margin: 0 auto;
  }
  &-list.px-10 {
    padding: 10rem 0 7rem;
  }
  &-right {
    width: 30%;
    background: url("http://enjoycoffee.vn/wp-content/uploads/2020/01/coffee.2-810x524-1.jpg")
      no-repeat center / cover;
  }
  &-head {
    text-align: center;
  }
  &-title {
    color: $title-color-dark;
    font-size: 5rem;
    font-family: $primary-font;
    font-weight: 400;
    text-transform: uppercase;
  }
  &-tab-list {
    padding: 3rem 0;
  }
  &-tab-item {
    font-size: 2rem;
    color: $title-color-dark;
    border: 2px solid $title-color-dark;
    border-radius: 0.5rem;
    background-color: transparent;
    width: 19.5rem;
    height: 4.5rem;
    margin-left: 1.5rem;
    transition: all 0.25s;
  }
  &-tab-item.active {
    pointer-events: none;
  }
  &-tab-item.active,
  &-tab-item:hover {
    background-color: $title-color-dark;
    color: $text-color;
  }
  &-content-list {
    @include flexBox(stretch, space-between, row, flex, wrap);
    display: none;
    opacity: 0;
    transform: translateY(-300px);
    transition: all 0.24s;
  }
  &-content-list.active {
    display: flex;
    transform: translateY(0px);
    opacity: 1;
  }
  &-item {
    width: calc(50% - 3rem);
    padding: 2.5rem 0 2.5rem;
    border-bottom: 1px solid $border-color-gray;
  }
  &-item-head {
    @include flexBox(center, space-between);
  }
  &-item-content {
    @include flexBox(center, space-between);
  }
  &-item-title {
    color: $title-color-pale;
    font-size: 3.4rem;
    font-family: $primary-font;
    padding-bottom: 1.5rem;
  }
  &-item-desc {
    color: #d0c0ac;
    font-size: 1.4rem;
    line-height: 1.4;
  }
  &-item:first-child {
    .menu-item-desc {
      font-size: 1.6rem;
      color: #a9a8a6;
    }
  }
  &-item-like {
    @include flexBox(center, space-between);
    margin-left: 2rem;
    font-size: 1.4rem;
    i {
      color: $red-color;
      padding-right: 0.7rem;
    }
    span {
      color: #d5c5b1;
    }
  }
  &-view-all {
    margin-left: auto;
    padding: 3rem 1.5rem;
    font-size: 1.8rem;
    color: $title-color-dark;
    text-transform: uppercase;
    cursor: pointer;
    &:hover {
      color: #dcab12;
    }
    i {
      padding-left: 1.3rem;
    }
  }
  @include maxWidth(1023px) {
    &-list {
      width: 100%;
    }
    &-right {
      width: 0;
    }
    &-content-list {
      padding: 0 15px;
    }
    &-item {
      width: calc(50% - 2rem);
    }
  }
  @include maxWidth(767px) {
    &-title {
      font-size: 4rem;
    }
    &-list.px-10 {
      padding: 5rem 0 2rem;
    }
    &-tab-list {
      padding-right: 1.5rem;
    }
    &-tab-item {
      margin-bottom: 20px;
      width: 17.5rem;
    }
    &-item {
      width: 100%;
    }
    &-item-title {
      font-size: 3rem;
    }
    &-item-desc {
      font-size: 1.6rem;
    }
    &-item:first-child {
      .menu-item-desc {
        font-size: 1.8rem;
        color: #a9a8a6;
      }
    }
  }
  @include maxWidth(480px) {
    &-tab-item {
      margin-bottom: 20px;
      width: 14.5rem;
    }
    &-title {
      font-size: 3.5rem;
    }
  }
}
