.service {
  &-list {
    @include flexBox(stretch, space-between);
  }
  &-item {
    width: calc(33.33% - 5rem);
    text-align: center;
  }
  &-img {
    width: 24rem;
    height: 24rem;
    margin: 0 auto;
    &:hover {
      img {
        transform: scale(1.03);
      }
    }
    img {
      object-fit: cover;
      border-radius: 50%;
      width: 100%;
      height: 100%;
      box-shadow: #ffe4c5 0px 0px 0px 7px, #fff4e7 0px 0px 0px 14px;
      transition: all 0.2s;
    }
  }
  &-name {
    font-family: $primary-font;
    font-size: 3.4rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #0a0a08;
    padding: 3rem 0;
  }
  &-desc {
    font-size: 2rem;
    line-height: 2.2rem;
  }
  @include maxWidth(1023px) {
    &-item {
      width: calc(33.33% - 3rem);
    }
    &-img {
      width: 18rem;
      height: 18rem;
    }
  }
  @include maxWidth(767px) {
    &-item {
      width: calc(33.33% - 1.5rem);
    }
    &-img {
      width: 9rem;
      height: 9rem;
    }
    &-name {
      padding: 2rem 0;
      font-size: 2.7rem;
    }
  }
  @include maxWidth(480px) {
    &-desc {
      font-size: 1.6rem;
      line-height: 2rem;
    }
    &-list {
      flex-wrap: wrap;
    }
    &-name {
      padding-bottom: 1rem;
    }
    &-item {
      width: 100%;
      margin-bottom: 3.5rem;
    }
    &-item:last-child {
      margin-bottom: 0;
    }
  }
}
