.special {
  &-list {
    @include flexBox(stretch, space-between, row, flex, wrap);
  }
  &-item {
    width: 50%;
    height: 43rem;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  &-item-text {
    background-color: #fcf4ea;
    padding: 10rem 9rem;
  }
  &-item-title {
    color: $title-color-sunshine;
    font-size: 3.4rem;
    font-family: $primary-font;
    text-transform: uppercase;
    padding-bottom: 3rem;
  }
  &-item-desc {
    font-size: 2rem;
    color: $text-color;
    line-height: 2.7rem;
  }
  @include maxWidth(1023px) {
    &-item-text {
      padding: 5rem 4rem;
    }
  }
  @include maxWidth(767px) {
    .order-1 {
      order: 1;
    }
    .order-2 {
      order: 2;
    }
    .order-3 {
      order: 3;
    }
    .order-4 {
      order: 4;
    }
    .order-5 {
      order: 5;
    }
    .order-6 {
      order: 6;
    }

    &-item-text {
      padding: 1.5rem;
    }
    &-item-title {
      font-size: 3rem;
      padding-bottom: 1rem;
    }
    &-item-desc {
      font-size: 1.7rem;
    }
    &-item {
      height: auto;
      width: 100%;
    }
    @include maxWidth(375px) {
      &-item-desc {
        @include textClamp(10);
      }
    }
  }
}
