.wrapper {
  max-width: $wrapper;
  margin: 0 auto;
}
.container {
  max-width: $container + 30px;
  margin: 0 auto;
  padding: 0 15px;
}
.block-head {
  max-width: 80rem;
  margin: 0 auto;
  text-align: center;
  &-title {
    font-size: 5rem;
    font-family: $primary-font;
    font-weight: bold;
    text-transform: uppercase;
    color: #0a0a08;
    span {
      color: $title-color-light;
    }
  }
  &-caption {
    font-size: 2rem;
    padding: 2.5rem 0 5rem;
  }
  @include maxWidth(767px) {
    &-title {
      font-size: 5rem;
    }
    &-caption {
      font-size: 1.8rem;
      padding: 2rem 0 3rem;
    }
  }
  @include maxWidth(480px) {
    &-title {
      font-size: 4rem;
    }
    &-caption {
      padding: 1.5rem 0 3rem;
    }
  }
}
