html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.text {
  color: #444645;
  line-height: 1.4; }

a {
  text-decoration: none; }

img {
  display: block;
  max-width: 100%; }

body {
  font-family: "Quicksand", sans-serif;
  line-height: 1;
  color: #444645;
  font-size: 1.4rem; }

input,
button,
textarea {
  outline: none;
  font-family: "Quicksand", sans-serif;
  line-height: 1;
  -webkit-appearance: none;
  font-size: 2rem;
  font-weight: 300; }

button {
  cursor: pointer; }

.px-10 {
  padding: 10rem 0; }

@media screen and (max-width: 767px) {
  .px-10 {
    padding: 5rem 0; } }

.wrapper {
  max-width: 1920px;
  margin: 0 auto; }

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 15px; }

.block-head {
  max-width: 80rem;
  margin: 0 auto;
  text-align: center; }
  .block-head-title {
    font-size: 5rem;
    font-family: "Economica", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #0a0a08; }
    .block-head-title span {
      color: #dd991d; }
  .block-head-caption {
    font-size: 2rem;
    padding: 2.5rem 0 5rem; }
  @media screen and (max-width: 767px) {
    .block-head-title {
      font-size: 5rem; }
    .block-head-caption {
      font-size: 1.8rem;
      padding: 2rem 0 3rem; } }
  @media screen and (max-width: 480px) {
    .block-head-title {
      font-size: 4rem; }
    .block-head-caption {
      padding: 1.5rem 0 3rem; } }

.header-top {
  background-color: #101311; }

.header-top-content {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  position: relative; }

.header-logo {
  width: 16rem;
  height: 16rem;
  -webkit-transform: translateY(15%);
  transform: translateY(15%);
  position: absolute;
  z-index: 2; }
  .header-logo img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-box-shadow: 0 0 0 5px #fff, 0 0 0 14px #000;
    box-shadow: 0 0 0 5px #fff, 0 0 0 14px #000;
    border-radius: 100%; }

.header-icon-close {
  display: none; }

.header-icon-toggle {
  display: none;
  color: #fff;
  font-size: 20px;
  padding-right: 25px;
  cursor: pointer; }

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  margin-left: auto; }

.header-menu-link {
  color: #fff;
  font-size: 2rem;
  padding: 5rem 2rem;
  display: inline-block;
  font-weight: 300;
  -webkit-transition: 0.2s all;
  transition: 0.2s all; }
  .header-menu-link:hover {
    color: #facb36; }

.header-menu-icon {
  color: #facb36;
  font-size: 2rem;
  padding-right: 1.5rem;
  display: inline-block;
  cursor: pointer; }

.header-menu-icon-search {
  color: #fff;
  padding-right: 0; }

.header-slide-item {
  background: -webkit-gradient(linear, left top, right top, from(rgba(230, 218, 212, 0.232931)), color-stop(55%, rgba(151, 143, 139, 0.692314)), to(rgba(69, 65, 63, 0.95562))), url("https://previews.123rf.com/images/karandaev/karandaev1905/karandaev190500490/123516351-yellow-coffee-cup-over-yellow-background-top-view-flat-lay-with-copy-space.jpg") no-repeat center/cover;
  background: linear-gradient(90deg, rgba(230, 218, 212, 0.232931) 0%, rgba(151, 143, 139, 0.692314) 55%, rgba(69, 65, 63, 0.95562) 100%), url("https://previews.123rf.com/images/karandaev/karandaev1905/karandaev190500490/123516351-yellow-coffee-cup-over-yellow-background-top-view-flat-lay-with-copy-space.jpg") no-repeat center/cover;
  height: 62rem; }

.header-slide-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 62rem; }

.header-slide-content {
  width: 45%;
  margin-left: auto; }

.header-slide-title {
  font-size: 7rem;
  color: #faca36;
  text-transform: uppercase;
  font-family: "Economica", sans-serif;
  font-weight: 700; }
  .header-slide-title span {
    color: #fff; }

.header-slide-desc {
  padding: 3rem 0 2rem;
  color: #fff;
  font-size: 2rem;
  line-height: 2.9rem; }

.header-slide-btn {
  padding: 1rem 5rem;
  color: #faca36;
  font-weight: 300;
  font-size: 2rem;
  border: 2px solid #faca36;
  border-radius: 1rem;
  background: transparent;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }
  .header-slide-btn:hover {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px); }

@media screen and (max-width: 1023px) {
  .header-menu-link {
    padding: 3.5rem 1.5rem; }
  .header-logo {
    width: 12rem;
    height: 12rem;
    -webkit-transform: translateY(25%);
    transform: translateY(25%);
    left: 25px; }
  .header-menu-icon {
    padding-right: 2.5rem; } }

@media screen and (max-width: 1023px) and (max-width: 767px) {
  .header-top-content {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header-logo {
    width: 8rem;
    height: 8rem;
    -webkit-transform: translate(14px, 32%);
    transform: translate(14px, 32%);
    position: static; }
  .header-menu {
    display: block;
    position: fixed;
    z-index: 10;
    background: #000;
    right: 0;
    width: 30rem;
    padding: 2rem 2.5rem;
    height: 100vh;
    -webkit-transform: translateX(112%);
    transform: translateX(112%);
    -webkit-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in; }
  .header-menu.is-expand {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  .header-menu-link {
    padding: 1.5rem 0 1.5rem; }
  .header-menu-icon {
    padding: 1.5rem 0 1.5rem;
    display: block; }
  .header-icon-close {
    display: block;
    position: absolute;
    top: 0;
    left: -36px;
    color: #fff;
    font-size: 20px;
    padding: 12px;
    background: #000;
    cursor: pointer; }
  .header-icon-toggle {
    display: block; }
  .header-slide-item, .header-slide-wrapper {
    height: 40rem; }
  .header-slide-title {
    font-size: 5rem; }
  .header-slide-content {
    width: 100%; } }

@media screen and (max-width: 1023px) and (max-width: 480px) {
  .header-slide-title {
    font-size: 4.3rem; } }

.service-list {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }

.service-item {
  width: calc(33.33% - 5rem);
  text-align: center; }

.service-img {
  width: 24rem;
  height: 24rem;
  margin: 0 auto; }
  .service-img:hover img {
    -webkit-transform: scale(1.03);
    transform: scale(1.03); }
  .service-img img {
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: #ffe4c5 0px 0px 0px 7px, #fff4e7 0px 0px 0px 14px;
    box-shadow: #ffe4c5 0px 0px 0px 7px, #fff4e7 0px 0px 0px 14px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }

.service-name {
  font-family: "Economica", sans-serif;
  font-size: 3.4rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #0a0a08;
  padding: 3rem 0; }

.service-desc {
  font-size: 2rem;
  line-height: 2.2rem; }

@media screen and (max-width: 1023px) {
  .service-item {
    width: calc(33.33% - 3rem); }
  .service-img {
    width: 18rem;
    height: 18rem; } }

@media screen and (max-width: 767px) {
  .service-item {
    width: calc(33.33% - 1.5rem); }
  .service-img {
    width: 9rem;
    height: 9rem; }
  .service-name {
    padding: 2rem 0;
    font-size: 2.7rem; } }

@media screen and (max-width: 480px) {
  .service-desc {
    font-size: 1.6rem;
    line-height: 2rem; }
  .service-list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .service-name {
    padding-bottom: 1rem; }
  .service-item {
    width: 100%;
    margin-bottom: 3.5rem; }
  .service-item:last-child {
    margin-bottom: 0; } }

.menu {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  .menu-list {
    width: 70%;
    background-color: #101311;
    margin: 0 auto; }
  .menu-list.px-10 {
    padding: 10rem 0 7rem; }
  .menu-right {
    width: 30%;
    background: url("http://enjoycoffee.vn/wp-content/uploads/2020/01/coffee.2-810x524-1.jpg") no-repeat center/cover; }
  .menu-head {
    text-align: center; }
  .menu-title {
    color: #faca36;
    font-size: 5rem;
    font-family: "Economica", sans-serif;
    font-weight: 400;
    text-transform: uppercase; }
  .menu-tab-list {
    padding: 3rem 0; }
  .menu-tab-item {
    font-size: 2rem;
    color: #faca36;
    border: 2px solid #faca36;
    border-radius: 0.5rem;
    background-color: transparent;
    width: 19.5rem;
    height: 4.5rem;
    margin-left: 1.5rem;
    -webkit-transition: all 0.25s;
    transition: all 0.25s; }
  .menu-tab-item.active {
    pointer-events: none; }
  .menu-tab-item.active, .menu-tab-item:hover {
    background-color: #faca36;
    color: #444645; }
  .menu-content-list {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: none;
    opacity: 0;
    -webkit-transform: translateY(-300px);
    transform: translateY(-300px);
    -webkit-transition: all 0.24s;
    transition: all 0.24s; }
  .menu-content-list.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1; }
  .menu-item {
    width: calc(50% - 3rem);
    padding: 2.5rem 0 2.5rem;
    border-bottom: 1px solid #675956; }
  .menu-item-head {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
  .menu-item-content {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
  .menu-item-title {
    color: #ffeeb7;
    font-size: 3.4rem;
    font-family: "Economica", sans-serif;
    padding-bottom: 1.5rem; }
  .menu-item-desc {
    color: #d0c0ac;
    font-size: 1.4rem;
    line-height: 1.4; }
  .menu-item:first-child .menu-item-desc {
    font-size: 1.6rem;
    color: #a9a8a6; }
  .menu-item-like {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin-left: 2rem;
    font-size: 1.4rem; }
    .menu-item-like i {
      color: #d12509;
      padding-right: 0.7rem; }
    .menu-item-like span {
      color: #d5c5b1; }
  .menu-view-all {
    margin-left: auto;
    padding: 3rem 1.5rem;
    font-size: 1.8rem;
    color: #faca36;
    text-transform: uppercase;
    cursor: pointer; }
    .menu-view-all:hover {
      color: #dcab12; }
    .menu-view-all i {
      padding-left: 1.3rem; }
  @media screen and (max-width: 1023px) {
    .menu-list {
      width: 100%; }
    .menu-right {
      width: 0; }
    .menu-content-list {
      padding: 0 15px; }
    .menu-item {
      width: calc(50% - 2rem); } }
  @media screen and (max-width: 767px) {
    .menu-title {
      font-size: 4rem; }
    .menu-list.px-10 {
      padding: 5rem 0 2rem; }
    .menu-tab-list {
      padding-right: 1.5rem; }
    .menu-tab-item {
      margin-bottom: 20px;
      width: 17.5rem; }
    .menu-item {
      width: 100%; }
    .menu-item-title {
      font-size: 3rem; }
    .menu-item-desc {
      font-size: 1.6rem; }
    .menu-item:first-child .menu-item-desc {
      font-size: 1.8rem;
      color: #a9a8a6; } }
  @media screen and (max-width: 480px) {
    .menu-tab-item {
      margin-bottom: 20px;
      width: 14.5rem; }
    .menu-title {
      font-size: 3.5rem; } }

.special-list {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.special-item {
  width: 50%;
  height: 43rem; }
  .special-item img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover; }

.special-item-text {
  background-color: #fcf4ea;
  padding: 10rem 9rem; }

.special-item-title {
  color: #e3b359;
  font-size: 3.4rem;
  font-family: "Economica", sans-serif;
  text-transform: uppercase;
  padding-bottom: 3rem; }

.special-item-desc {
  font-size: 2rem;
  color: #444645;
  line-height: 2.7rem; }

@media screen and (max-width: 1023px) {
  .special-item-text {
    padding: 5rem 4rem; } }

@media screen and (max-width: 767px) {
  .special .order-1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
  .special .order-2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
  .special .order-3 {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3; }
  .special .order-4 {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4; }
  .special .order-5 {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5; }
  .special .order-6 {
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    order: 6; }
  .special-item-text {
    padding: 1.5rem; }
  .special-item-title {
    font-size: 3rem;
    padding-bottom: 1rem; }
  .special-item-desc {
    font-size: 1.7rem; }
  .special-item {
    height: auto;
    width: 100%; } }

@media screen and (max-width: 767px) and (max-width: 375px) {
  .special-item-desc {
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    max-width: 100%;
    white-space: pre-wrap;
    word-break: break-word; } }

.arabica {
  background: -webkit-gradient(linear, left top, right top, from(rgba(50, 55, 53, 0.9)), to(rgba(230, 218, 212, 0))), url("https://cdn.pixabay.com/photo/2016/04/12/11/19/coffee-1324126_960_720.jpg") no-repeat center/cover;
  background: linear-gradient(90deg, rgba(50, 55, 53, 0.9) 0% rgba(151, 143, 139, 0.1) 55%, rgba(230, 218, 212, 0) 100%), url("https://cdn.pixabay.com/photo/2016/04/12/11/19/coffee-1324126_960_720.jpg") no-repeat center/cover; }
  .arabica .block-head {
    margin-right: auto;
    margin-left: 0;
    text-align: left; }
    .arabica .block-head-title {
      color: #fff; }
    .arabica .block-head-caption {
      padding-bottom: 3rem;
      color: #d0c0ac; }
  .arabica-button {
    padding: 1rem 5rem;
    color: #faca36;
    font-weight: 300;
    font-size: 2rem;
    border: 2px solid #faca36;
    border-radius: 1rem;
    background: transparent;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }
    .arabica-button:hover {
      -webkit-transform: translateY(-3px);
      transform: translateY(-3px); }

.contact-title {
  font-size: 5rem;
  color: #0a0a08;
  text-transform: uppercase;
  text-align: center;
  font-family: "Economica", sans-serif;
  font-weight: 400;
  padding-bottom: 5rem; }

.contact-content {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }

.contact-info, .contact-form {
  width: calc(50% - 4rem); }

.contact-item {
  padding-bottom: 2rem; }
  .contact-item i {
    color: #e3b938;
    width: 3.8rem;
    height: 3.8rem;
    border: 1px solid #e3b938;
    border-radius: 50%;
    text-align: center;
    line-height: 3.8rem; }
    .contact-item i::before {
      font-size: 2rem; }
  .contact-item span,
  .contact-item a {
    color: #373737;
    font-size: 2rem;
    padding-left: 1.5rem; }

.contact-input-wrapper {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 2rem; }
  .contact-input-wrapper input {
    width: calc(50% - 1rem);
    height: 4rem;
    padding: 0 1.5rem;
    background-color: #e8e8e8;
    border: none;
    cursor: pointer;
    border: 1px solid transparent;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    color: #bebebe; }
    .contact-input-wrapper input:focus {
      border-color: #facb36; }

.contact-form-textarea {
  background-color: #e8e8e8;
  margin-bottom: 2rem;
  border: none;
  width: 100%;
  padding: 1.5rem;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  cursor: pointer;
  border: 1px solid transparent;
  min-height: 15.4rem; }
  .contact-form-textarea:focus {
    border-color: #facb36; }

.contact-form-submit {
  text-align: center;
  display: block;
  background: #faca36;
  width: 100%;
  border: none;
  color: #211212;
  font-size: 2rem;
  line-height: 4rem;
  -webkit-transition: all 0.25s;
  transition: all 0.25s; }
  .contact-form-submit:hover {
    background-color: #eac03e; }

.contact-dropdown {
  width: 100%;
  position: relative;
  margin-bottom: 2rem; }

.contact-dropdown-caret {
  color: #444645; }

.contact-dropdown-select {
  background-color: #e8e8e8;
  height: 4rem;
  padding: 0 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer;
  color: #bebebe;
  font-size: 2rem; }

.contact-dropdown-select * {
  pointer-events: none; }

.contact-dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin-top: 1rem;
  padding: 1.5rem 0 1.5rem;
  background-color: #e8e8e8;
  -webkit-box-shadow: var(--shadow);
  box-shadow: var(--shadow);
  display: none; }

.contact-dropdown-list:before {
  content: "";
  height: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%); }

.contact-dropdown-list.show {
  display: block; }

.contact-dropdown-item {
  padding: 1.5rem;
  padding-left: 3rem;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  cursor: pointer;
  margin-bottom: 2px;
  font-size: 1.6rem;
  color: #bebebe; }

.contact-dropdown-item:hover {
  background-color: #fff; }

@media screen and (max-width: 767px) {
  .contact-title {
    font-size: 4rem;
    padding-bottom: 3rem; }
  .contact-content {
    display: block; }
  .contact-info, .contact-form {
    width: 100%; }
  .contact-item {
    padding-bottom: 1.4rem; }
    .contact-item i {
      width: 3rem;
      height: 3rem;
      line-height: 3rem; }
      .contact-item i::before {
        font-size: 1.7rem; }
    .contact-item span {
      font-size: 1.8rem; } }

@media screen and (max-width: 480px) {
  .contact-item i {
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem; }
    .contact-item i::before {
      font-size: 1.6rem; }
  .contact-item span {
    font-size: 1.6rem;
    padding-left: 1rem; } }

@media screen and (max-width: 480px) and (max-width: 375px) {
  .contact-item span {
    font-size: 1.5rem;
    padding-left: 1rem; } }

:root {
  --primary: #08aeea;
  --secondary: #13d2b8;
  --purple: #bd93f9;
  --pink: #ff6bcb;
  --blue: #8be9fd;
  --gray: #333;
  --font: "Poppins", sans-serif;
  --gradient: linear-gradient(40deg, #ff6ec4, #7873f5);
  --shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05); }

.footer-wrapper {
  background-color: #272926;
  text-align: center; }

.footer .container {
  position: relative; }

.footer-desc {
  color: #fff;
  font-size: 2rem;
  max-width: 82rem;
  word-wrap: break-word;
  margin: 0 auto;
  padding: 3.5rem 0 3rem;
  line-height: 2.4rem; }

.footer-form-title {
  position: relative;
  display: inline-block;
  background: #020202;
  font-size: 2rem;
  color: #fff;
  padding: 0.8rem 2rem 0.8rem;
  text-transform: uppercase;
  text-align: left;
  max-width: 57rem; }
  .footer-form-title input {
    background: #020202;
    border: none;
    font-size: 2rem;
    color: #fff;
    text-indent: 0.7rem;
    cursor: pointer; }
    .footer-form-title input::-webkit-input-placeholder {
      color: #fff; }
    .footer-form-title input::-moz-placeholder {
      color: #fff; }
    .footer-form-title input::-ms-input-placeholder {
      color: #fff; }
    .footer-form-title input::placeholder {
      color: #fff; }
  .footer-form-title button {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 1.5rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
    .footer-form-title button i {
      color: #8e9198;
      padding-left: 0.5rem; }

.footer-copyright {
  background-color: #fac036;
  line-height: 7rem;
  text-align: center; }
  .footer-copyright a {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 500; }

.footer-logo {
  display: block; }
  .footer-logo img {
    width: 11.2rem;
    height: 11.2rem;
    margin: 0 auto;
    border-radius: 100%;
    -webkit-box-shadow: 0 0 0 2px #fff, 0 0 0 5px #000;
    box-shadow: 0 0 0 2px #fff, 0 0 0 5px #000; }

.footer-back-top {
  position: fixed;
  z-index: 3;
  right: 10rem;
  bottom: 10rem;
  background: #2c2c2c;
  padding: 16px 17px;
  font-size: 22px;
  cursor: pointer;
  color: #c5c5c4;
  -webkit-transition: all 0.25s;
  transition: all 0.25s; }
  .footer-back-top:hover {
    background: #313131;
    color: #fff; }

@media screen and (max-width: 767px) {
  .footer-form-title {
    font-size: 1.7rem;
    padding: 1rem 1.5rem 1rem; }
    .footer-form-title input {
      font-size: 1.7rem; }
  .footer-desc {
    font-size: 1.8rem; }
  .footer-back-top {
    right: 4rem;
    bottom: 4rem; } }

@media screen and (max-width: 480px) {
  .footer-back-top {
    right: 2rem;
    bottom: 2rem;
    padding: 13px 14px;
    font-size: 19px; } }

@media screen and (max-width: 375px) {
  .footer-form-title {
    font-size: 1.5rem;
    padding: 1rem; }
    .footer-form-title input {
      font-size: 1.5rem; }
  .footer-desc {
    font-size: 1.6rem; }
  .footer-back-top {
    right: 2rem;
    bottom: 2rem;
    padding: 13px 14px;
    font-size: 19px; } }
