extends layout/layout

block vars
	-title = 'Home page'
	-bodyClass = 'home-page'

block container
		include blocks/service
		include blocks/menu
		include blocks/special
		include blocks/arabica
		include blocks/contact